@use 'variables' as *;
@use 'mediaQuery';



#container {
    width: 100%;
    h1 {
        font-size: $main-font-size;
        text-align: center;
        padding: 20px;
        font-family: $second-font-family;
        margin: 0;
        background-color: lighten(rgb(215, 182, 78), 5%);
        
    }

    .parent {
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        // background-color: $bakgrundColor;
        // color: $colorText;
        .first_child {
            width: 100%;
            padding: 10px;
            display: flex;

        }
        .second_child {
            @extend .first_child;
        }

        img {
            width: 100%;
            aspect-ratio: 3/2;
            object-fit: fill;
        }
    }

    .text_beskrivning {
        @extend .first_child;
        flex-direction: column;
        justify-content: center;
        gap: 10px;

        h2 {
            
            font-size: $main-font-size;
            font-family: $second-font-family;
        }
        p {
            
            font-size: $second-font-size;
            font-family: $main-font-family;
        }

    }
    
    
}


