@use 'variables' as *;

footer {
    background-color: $main-color;
    width: 100%;
    height: auto;
    padding: 20px;
    font-family: $main-font-family;

    %footer-nesting {
        font-size: .75em;
        color: ghostwhite;
        text-align: center;
        padding-bottom: .50em;
    }

    .footer-head, .footer-para {
        @extend %footer-nesting;
    }
}