@use 'variables' as *;


@mixin theme-colors($light-theme: true) {
    @if $light-theme {
        background-color: $light-background;
        color: $light-text;
    }

    @else {
        background-color: $dark-background;
        color: $dark-text;
    }
}

;

@media (prefers-color-scheme: dark) {
    #container, #container > .rubrik {
        @include theme-colors($light-theme: false);
    }
    
}

@media (prefers-color-scheme: light) {
    #container {
        @include theme-colors($light-theme: true);
    }
}




@media only screen and (min-width: 992px) {

    .menuBtn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    nav {
        display: block !important;
        position: static;
        right: 0;
        top: 0;
        height: auto;
        font-size: $second-font-size;
        width: auto;
    }

    header nav ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    header nav .links {
        display: inline;
        padding: 1em 0;
        white-space: nowrap;
    }

    .unorder_list, .rubrik2, .paragraph {
        width: 50%;
    }
}

@media only screen and (max-width: 992px) {
    .unorder_list, .rubrik2, .paragraph {
        width: 60%;
    }
}

@media screen and (max-width: 800px) {

    .pictures picture {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    .first_child,
    .second_child {
        flex-wrap: wrap;
    }

    .second_child {
        order: 2;
    }

    .unorder_list, .rubrik2, .paragraph {
        width: 70%;
    }
}


@media only screen and (max-width: 500px) {
    main {
        height: auto;
    }
    .unorder_list, .rubrik2, .paragraph {
        width: 90%;
    }
}