@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');



$main-color: #2b2e35;
$hover-color: darken(#c42b2b, 5%);
$bars-color: #2C363F;
$colorText: #036;
$bakgrundColor: lighten(rgb(220, 218, 215), 10%);
$main-font-family: 'Nanum Gothic', sans-serif;
$second-font-family: 'Roboto', sans-serif;
$main-font-size: 2em;
$second-font-size: 1.3em;
$text-height: 1.4em;




$light-background: lighten(rgb(220, 218, 215), 10%);
$light-text: #036;
$dark-background: lighten(#000000, 10%);
$dark-text: #ffffff;



%flex-styling {
    width: 100%;
    padding: 10px;
    display: flex;
}




