@import url("menu-logo.css");
@import url("mediaquery.css");
@import url("footer.css");
@import url("pictures.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    max-width: 1920px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ------------------------------------------------ */


body {
    background-color: ghostwhite;
    height: 100vh;
}

/* ----------------innehållet--------------------- */


.om-uppgiften {
    width: 100%;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.om-uppgiften h1 {
    padding-top: 1em;
    font-size: 2.5em;
}

.uppgift-text {
    width: 60%;
    margin: 1em;
    height: auto;
    padding: .50em;
    background-color: #dedada;
    border-radius: 5px;
}

.uppgift-text h2 {
    font-weight: 700;
    font-size: 1.6em;
}

.uppgift-text h2, h3, p {
    padding: 0 1em 1em 0;
}

.uppgift-text h3 {
    padding: .50em 0;
}

.uppgift-text p {
    line-height: 1.2em;
    font-weight: 400;
}

.uppgift-text ul {
    line-height: 1.3em;
    padding-left: 1em;
    padding-bottom: 1em;
}

/* -----------------------------footer--------------------- */

footer {
    background-color: #2b2e35;
    width: 100%;
    height: auto;
    padding: 20px;
}

footer .footer-head, .footer-para {
    font-size: .75em;
    color: ghostwhite;
    text-align: center;
    padding-bottom: .50em;
}

/* ---------------------tid--------------- */


.tid {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #5d6f9a;
    font-family: "Roboto Slab", sans-serif;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.tid section {
    width: 25%;
    background-color: #2b2e35;
    padding: 20px;
    border-radius: 5px;

}

.tid section h3 {
    padding: 0;
}