
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;1,100;1,200&family=Playfair+Display:ital,wght@1,500&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    max-width: 1920px;
    margin: 0;
    padding: 0;
}
/* ---------------------------HEADER---------------------- logo, navmenu, mobilemenu css kod */ 
header {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    background-color: #2b2e35;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
}

.header-section {
    width: 50%;
    font-size: 2em;
    padding: .50em;
    display: flex;
    align-items: center;
}
.header-section h1 a{
    color: ghostwhite;
    text-decoration: none;
}



header nav {
    background-color: #2b2e35;
    font-size: 1.3em;
    display: none;
    list-style: none;
    position: absolute;
    height: auto;
    width: 30%;
    z-index: 1;
    top: 0;
    right: 0;

}
header nav ul {
    width: 100%;
    margin: 0 auto;
    list-style: none;
    text-align: center;
    margin-right: 2em;
}

header nav ul .links {
    padding: 1.2em .50em;
    display: flex;
    justify-content: center;
}

header nav ul .links a {
    color: ghostwhite;
    text-decoration: none;
    font-weight: 700;
    padding: 0 1em;
}

nav .links:hover {
    background-color: hsla(0, 0%, 44%, 0.59);
    cursor: pointer;
}

.menuBtn {
    display: flex;
    align-items: center;
    border: rgb(0, 0, 0) solid 2px;
    padding: 8px 15px;
    cursor: pointer;
}

.open {
    margin: 1em;
}

.menu-icon {
    margin-right: 5px;
}

.bars {
    display: block;
    width: 20px;
    height: 3px;
    background-color: #2C363F;
    margin: 5px 0;
}

.menu-text {
    font-size: 1.2em;
    color: #2C363F;
    font-weight: 700;
}

.cross1 {
    width: 25px;
    transform: rotate(45deg);
    position: relative;
    top: 5px;
}

.cross2 {
    width: 25px;
    transform: rotate(135deg);
    position: relative;
    top: -3px;
}
/* ------------------------------------------------ */


body {
    background-color: ghostwhite;
    
}














@media only screen and (min-width: 992px) {
    .menuBtn {
        display: none;
    }

    #open-menu {
        display: none !important;
    }

    header {
        position: static;
    }

    header nav {
        display: block !important;
        position: static;
        right: 0;
        top: 0;
        height: auto;
        font-size: 1.3em;
        width: auto;
    }

    header nav ul {
        height: 100%;
        display: flex;
        align-items: center;
    }

    header nav .links {
        display: inline;
        padding: 1.2em 0;
        white-space: nowrap;
    }
}