// @keyframes shadow_text {
//     from {
        
//         text-shadow: 
//             0 0 3px lighten(#2b2e35da, 10%),
//             2px 2px 5px lighten(#2b2e35c6, 10%),
//             4px 4px 7px lighten(#2b2e35c9, 10%),
//             6px 6px 9px lighten(#2b2e3584, 10%),
//             8px 8px 11px lighten(#2b2e3500, 10%),
//             10px 10px 13px lighten(#2b2e355b, 10%),
//             12px 12px 15px lighten(#2b2e355f, 10%),
//             14px 14px 17px lighten(#2b2e3529, 10%);
//     }
//     to {
//         text-shadow: 
//             0 0 17px darken(#e0e0e0, 20%),
//             2px 2px 15px darken(#d6d6d6, 20%),
//             4px 4px 13px darken(#cccccc, 20%),
//             6px 6px 11px darken(#c1c1c1, 20%),
//             8px 8px 9px darken(#adadad, 20%),
//             10px 10px 7px darken(#a3a3a3, 20%),
//             12px 12px 5px darken(#999999, 20%);
//     }
// }

.rubrik_animering {
    
    animation: shadow_text 2s infinite alternate;
}



@keyframes shadow_text {
    from {
        text-shadow: 0 0 3px lighten(#2b2e35da, 10%), 2px 2px 5px lighten(#2b2e35c6, 10%), 4px 4px 7px lighten(#2b2e35c9, 10%), 6px 6px 9px  lighten(#2b2e3584, 10%), 8px 8px 11px  lighten(#2b2e3500, 10%), 10px 10px 13px lighten(#2b2e355b, 10%), 12px 12px 15px  lighten(#2b2e355f, 10%), 14px 14px 17px lighten(#2b2e3529, 10%);
    }
    to {
        text-shadow: 8px 8px 9px darken(#adadad, 20%), 10px 12px 7px darken(#a3a3a3, 20%), 12px 16px 5px darken(#999999, 20%);
    }

}

// 0 0 17px darken(#e0e0e0, 20%), 2px 2px 15px darken(#d6d6d6, 20%), 4px 4px 13px darken(#cccccc, 20%), 6px 6px 11px darken(#c1c1c1, 20%),