@use 'variables' as *;

$start_translate: -1000px; 
$end_translate: 1000px;

%animation_styling {
    position: absolute;
    margin-bottom: 10px;
    image-rendering: pixelated;
}

.rubrik_animering {
    
    animation: shadow_text 2s infinite alternate;
}



@keyframes shadow_text {
    from {
        text-shadow: 0 0 3px lighten(#2b2e35da, 10%), 2px 2px 5px lighten(#2b2e35c6, 10%), 4px 4px 7px lighten(#2b2e35c9, 10%), 6px 6px 9px  lighten(#2b2e3584, 10%), 8px 8px 11px  lighten(#2b2e3500, 10%), 10px 10px 13px lighten(#2b2e355b, 10%), 12px 12px 15px  lighten(#2b2e355f, 10%), 14px 14px 17px lighten(#2b2e3529, 10%);
    }
    to {
        text-shadow: 8px 8px 9px darken(#adadad, 20%), 10px 12px 7px darken(#a3a3a3, 20%), 12px 16px 5px darken(#999999, 20%);
    }

}



.cars-container {
    display: flex;
    align-items: end;
    justify-content: center;
    width: 100%;
    position: relative;
    height: 20em;
    overflow: hidden;
    background-image: url(/src/images/street2.png);
    background-size: 100% 100%;
    image-rendering: pixelated;

    .cars_animation {
        animation: left 5s infinite ease-out;
        @extend %animation_styling;
    }

    .cars_animation2 {
        animation: right 5s 0.5s infinite ease-in;
        @extend %animation_styling;
        margin-bottom: 80px;
    }
    .cars_animation4 {
        animation: right 5s 1s infinite ease-out;
        @extend %animation_styling;
        margin-bottom: 80px;
        
    }

    .cars_animation3 {
        animation: left 5s 1s infinite ease-in;
        @extend %animation_styling;
    }

    .car2 {
        transform: scaleX(-1);
    }

    .car, .car2,
    .car3, .car4 {
        width: 6.25em;
    }
}




@keyframes left {
    0%, 100% {
        transform: translate($start_translate, 0);
    }

    100% {
        transform: translate($end_translate, 0);
    }

}


@keyframes right {
    0%, 100% {
        transform: translate($end_translate, 0);
    }

    100% {
        transform: translate($start_translate, 0);
    }

}

.beach {
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;

    .carb-container {
        position: absolute;
        top: 50px;
        
    }

    .carb_img {
        width: 40px;
        animation: left 15s infinite ease-out,
        carb 15s infinite linear;
    }

    .beach_img {
        width: 100%;
        height: 10em;
        border-top: 6px solid rgb(67, 64, 62);
    }
}

.waves {
    position: relative;
        width: 100%;
        height: 10em;
        overflow: hidden;
        bottom: 10px;
        background-color: #4779f7;

        .wave {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 5em;
            background: url(/src/images/wave.png);
            background-size: 100vw 5em;
            image-rendering: pixelated;
        
        }

        .wave1 {
            animation: sea 20s 0s linear infinite;
            z-index: 15;
            opacity: .9;
            bottom: 0;
            
        }
        .wave2 {
            animation: sea1 15s -5s linear infinite;
            z-index: 10;
            opacity: .7;
            bottom: 10px;
        }
        .wave3 {
            animation: sea 10s -2s linear infinite;
            z-index: 5;
            opacity: .4;
            bottom: 15px;
        }
        
        .wave4 {
            animation: sea1 5s -5s linear infinite;
            z-index: 1;
            opacity: .5;
            bottom: 20px;
        }
}


@keyframes carb {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translate(900px, 110px);
    }
}


@keyframes sea {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: 100vw;
    }
}

@keyframes sea1 {
    0% {
        background-position-x: 0;
    }

    100% {
        background-position-x: -100vw;
    }
}
